{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <style>
              body {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 25px;
    }
        </style>
  
   
            <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="btn-outline-info nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">FinBal</a>
                    <a class="btn-outline-dark nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">+ Add Expense</a>
                    <a class="btn-outline-dark nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">+ Add Earning</a>
                    <a class="btn-outline-dark nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <h1>Finance Balance Manager</h1>
                        <div id="container-fluid" >
                            <div class="col">
                            <div class="row">
                                <canvas id="myChart" width="100" height="40"></canvas>

                            </div>
                            
                            <div class="row">
                            <div class="col">
                                <canvas id="myChart0" width="100" height="100"></canvas>
                            </div>
                         
                            <div class="col">
                                <canvas id="myChart1" width="100" height="100"></canvas>
                            </div>
                            <div class="col">
                                <canvas id="myChart2" width="100" height="100"></canvas>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>

<script>
    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Earnings (totals)','Expenses (totals)','Profits/Loss'] ,
        datasets: [{
            label: 'Profit/Loss Chart',
            backgroundColor: ['rgb(0, 205, 132)', 'rgb(205, 0, 0)', 'rgb(0, 0, 0)', 'rgb(0, 0, 0)', 'rgb(20, 56, 220)'],
            // 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{totalEarning|safe}},{{totalExpense|safe}},{{profit|safe}}]
        }]
    },

    // Configuration options go here
    options: {
        responsive: true,
        title: {
                display: true,
                text: 'Budget Allocation PieChart'
              }
    }
});

var ctx = document.getElementById('myChart0').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        labels: {{heads|safe}} ,
        datasets: [{
            label: 'Budget Allocation',
            backgroundColor: ['rgb(255, 99, 132)', 'rgb(255, 190, 132)', 'rgb(255, 99, 255)', 'rgb(50, 99, 132)', 'rgb(20, 56, 220)'],
            // 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{budgetAllocated|safe}}
        }]
    },

    // Configuration options go here
    options: {
        responsive: true,
        title: {
                display: true,
                text: 'Budget Allocation PieChart'
              }
    }
});

var ctx = document.getElementById('myChart1').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: {{heads|safe}} ,
        datasets: [{
            label: 'Expenses Amounts',
            backgroundColor: ['rgb(255, 0, 0)','rgb(225, 0, 0)','rgb(155, 0, 0)','rgb(125, 0, 0)','rgb(100, 0, 0)'],
            // 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{headExpenses|safe}}
        }]
    },

    // Configuration options go here
    options: {
        responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Expenses Chart'
              }
    }
});


var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: {{heads|safe}} ,
        datasets: [{
            label: 'Earning Amounts',
            backgroundColor: ['rgb(0,255, 0)','rgb(0,205, 0)','rgb(0,155, 0)','rgb(0,125, 0)','rgb(0,100, 0)'],
            // 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{headEarnings|safe}}
        }]
    },

    // Configuration options go here
    options: {
        responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Earnings Chart'
              }
    }
});


   
    };
</script>

                            
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3>Add Expense Form:</h3>
                        <form action="/" method="post" class="uniForm">
                            {% csrf_token %}   
                            {{ expenseform |crispy}}
                            <!-- -->
                            <input class="btn btn-dark btn-lg" type="submit" value="Submit" id=regstudio>
                            <!-- <button type="button" class="btn btn-dark btn-lg" id="regstudio">Show Toast</button>  -->
                        </form>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h3>Add Earning Form:</h3>
                        <form action="/" method="post" class="uniForm">
                            {% csrf_token %}   
                            {{ earningform |crispy}}
                            <!-- -->
                            <input class="btn btn-dark btn-lg" type="submit" value="Submit" id=regstudio>
                            <!-- <button type="button" class="btn btn-dark btn-lg" id="regstudio">Show Toast</button>  -->
                        </form>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
                </div>
              </div>
              
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       
    </body>
    <footer>

    </footer>
</html>


